@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #0fce51, #ff7253, #efd575);
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  background: #fff;
  border-radius: 18px;
  padding: 60px;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #26344b;
  pointer-events: all;
  animation: iniciar 1.6s ease-out;
}

.title {
  font-size: 1.8em;
  margin-bottom: 10%;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.input i {
  margin-right: 8px;
  color: #26344b;
}

.input img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

input {
  min-width: 280px;
  border-radius: 22px;
  border: 2px solid #6f7e11;
  padding: 5px;
  font-size: 1.2em;
  width: 80%;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: #26344b;
  transform: translateY(-10%);
  margin-top: 10%;
  text-align: center;

  background: -webkit-linear-gradient(-45deg, #affcec, #ff7253, #fd5754);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#btn {
  width: 100%;
}

#btn button {
  width: 100%;
  height: 48px;
  border: none;
  font-size: 1.2em;
  color: #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #0fce51, #ff7253, #efd575);
  transition: background 0.3s ease, transform 0.3s ease;
}

#btn button:hover {
  background: linear-gradient(-45deg, #0fce51, #cc5a3d, #cfa344);
  transform: scale(1.05);
}

@keyframes iniciar {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
